#   /homeassistant/.gitignore
#Example .gitignore file for your config dir.
#An * ensures that everything will be ignored.
# Ignore everything
*

# You can whitelist files/folders with !, these will not be ignored.
!README

!*.yaml
!.gitignore
!*.md
!*/*.yaml
!*.sh
!*.js*

!includes/
!.storage/lovelace.dashboard_ld1

#Comment these 2 lines if you don't want to include your SSH keys
.ssh/
id_rsa*

#Uncomment this if you don' want to include secrets.yaml 
secrets.yaml

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
known_devices.yaml
zone.yaml

# Logs
logs
*.log
